@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  /* backgrounds */
  --card-bg:#ffffff;

  --page-bg:#E0D7ED; /*#F3EFF7*/
  --accent-bg:#C5B8D8;
  --navbar-bg:#4A3060;

  /* text */
  --txt-label:#4A3060;
  --txt:#7B5EA7;
  --txt-placehold:#9E8CB0;
  /* buttons */
  --button-bg:#4A3060;
  --button-hov-bg:#7B5EA7;
  --button-txt:#F3EFF7;
  --delete-btn-hov-bg:#edafbe;

  /* input fields */
  --input-bg:#F3EFF7;
  --default-txt:#9E8CB0;
  --default-border:#C5B8D8;
  --focused-txt:#4A3060;
  --focused-border:#7B5EA7;

  /* status pills */
  --done-bg:#C8DDC5;
  --done-txt:#2E6B2A;
  --urgent-bg:#F2C4CE;
  --urgent-txt:#8B2D42;
  --todo-bg:#F3EFF7;
  --todo-txt:#9E8CB0;
  --progress-bg:#E0D7ED;
  --progress-txt:#7B5EA7;

  /* Sizing */
  --radius-pill:99px;
  --card-radius:16px;
  --txt-xl:1.5rem;
  --txt-lg:1.25rem;/*~20px*/
  --txt-md:0.9rem; /*~14px*/
  --txt-sm:0.8rem;/*~13px*/
  --txt-xs:0.7rem;/*~11.5px*/
  --gap:8px;
  --padding:5%;
  --card-padding:16px;


  /* leftover stuff */
  line-height: 1.5;
  font-weight: 400;

  color:#4A3060;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px; 
  min-height: 100vh;  
  background-color: #F3EFF7 ;
  font-family: 'Nunito', sans-serif;
}

h1{
  font-family: 'Lora', serif;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

